name: On Push Hello Action
on:
  push:
    branches: [ main ]
  workflow_dispatch:
    
jobs:
  hello-world-composite:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Hello world action step
        uses: ./.github/actions/hello-world-composite
        with:
          name: "GitHub Actions"

  hello-world-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Hello world Docker action step
        uses: ./.github/actions/hello-world-docker
        with:
          name: "Bryana"


  hello-world-js:
    runs-on: ubuntu-latest  
    needs: hello-world-docker # Ensure this job runs after the Docker job
    steps:
      - uses: actions/checkout@v4
      - name: Hello world JavaScript action step
        id: hello-js # Set an ID to reference outputs
        uses: ./.github/actions/hello-world-js
        with:
          name: "GitHub Actions"
      - name: Print output from JavaScript action
        run: echo "${{ steps.hello-js.outputs.fullName }}"