name: On Push Hello Action
on:
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      name:
        description: 'The name of person to greet'
        required: false
        default: 'Gildas Tema'

jobs:
  hello-world-composite:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Hello world action step
        uses: ./.github/actions/hello-world-composite
        with:
          name: ${{ github.event.inputs.name || 'GitHub Actions' }} # Use input from workflow_dispatch or default

  hello-world-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Hello world Docker action step
        uses: ./.github/actions/hello-world-docker
        with:
          name: ${{ github.event.inputs.name || 'Bryana' }} # Use input from workflow_dispatch or default


  hello-world-js:
    runs-on: ubuntu-latest  
    needs: hello-world-docker # Ensure this job runs after the Docker job
    steps:
      - uses: actions/checkout@v4
      - name: Hello world JavaScript action step
        id: hello-js # Set an ID to reference outputs
        uses: ./.github/actions/hello-world-js
        with:
          name: ${{ github.event.inputs.name || 'GitHub Actions' }} # Use input from workflow_dispatch or default
      - name: Print output from JavaScript action
        run: echo "${{ steps.hello-js.outputs.fullName }}"